.table-wrapper {
  overflow-x: scroll;
  max-height:900px;
}

.horizontal-scroll-except-first-column {
  overflow-x: auto;
}

.horizontal-scroll-except-first-column > table > * > tr > th:first-child,
.horizontal-scroll-except-first-column > table > * > tr > td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
}
